:root {
  --primary-color: #66101f;
  --accent-color-1: #51724e;
  --accent-color-2: #e06c00;
  --backround-color: #f8e9dd;
  --heading-font: "Fraunces", serif;
  --paragraph-font: "Commissioner", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
  font-weight: 900;
}

h1 {
  font-size: 100px;
  color: var(--primary-color);
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 30px;
}

p {
  font-family: var(--paragraph-font);
  font-size: 28px;
  font-weight: 300;
}

.button {
  font-family: var(--heading-font);
  font-size: 24px;
  padding: 15px 75px;
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: white;
}

.navbar-brand {
  font-family: var(--heading-font);
  font-weight: 900;
  font-size: 38px;
}

.nav-link {
  font-size: 26px;
  font-family: var(--paragraph-font);
  font-weight: 300;
}

.button-about {
  background-color: var(--primary-color);
  box-shadow: rgb(255 255 255) 10px 10px 0px -3px,
    var(--primary-color) 10px 10px;
}

.button-contact {
  background-color: var(--accent-color-2);
  box-shadow: rgb(255 255 255) 10px 10px 0px -3px,
    var(--accent-color-2) 10px 10px;
}
